{% extends 'app/base_page.html' %}
{% load static %}
{% block content %}

{% include 'partials/_menu_header.html' %}
{% include 'partials/__nav.html' %}


{% for message in messages %}
<div class="alert alert-primary">
    <p id="messages">{{ message }}</p>
</div>
{% endfor %}

<section class="container mt-5" style="color: white;">
    <h1 class="mb-5">Cadastrar vaga</h1>
    <form action="{% url 'cadastro_vaga' %}" class="w-50" method="POST">
        {% csrf_token %}
        {% for field in data.form %}
        <div class="input-group col-md-6">
            <div class="textfield">
                <label for="{{form.id_for_label}}" class="form-label"> {{field.label}} </label>
                {{field}}
            </div>
        </div>
        {% endfor %}

        <button type="submit" class="btn-login">
            Cadastrar
        </button>
        </div>
    </form>
</section>

{% endblock %}