{% extends 'app/base_page.html' %}
{% load static %}
{% block content %}


{% include 'partials/__nav.html' %}{% include 'partials/_menu_header.html' %}
<section class="conteudo section_cadastro_vaga">
    <div class="d-flex flex-row flex-wrap gap-4 mt-5 mb-5" style="justify-content: center;">

        <div class="card card_descricao">
            <div class="card-header text-center">
                {{ vaga.cargo_vaga}}
            </div>
            <div class="card-body card_descricao">
                <h5 class="card-title text-center">{{vaga.faixa_salarial}}</h5>
                <p class="card-text card_descricao">{{ vaga.descricao_vaga }}</p>
                <p class="card-text">{{ vaga.escolaridade_vaga }}</p>
                <a href="{% url 'candidato_vaga' %}" style="background-color: #00ff88; color: black; border: #00ff88;"
                    class="btn btn-primary">candidatar-se</a>
                <a href="{% url 'editar_vaga' vaga.id %}" style="background-color: #00ff88; color: black; border: #00ff88;"
                    class="btn btn-primary">editar vaga</a>
            </div>
            <div class="card-footer text-muted text-center">
                {{vaga.data_publicada}}
            </div>
        </div>
    </div>

</section>
{% endblock %}