{% load static %}

<footer class=" w-100">
    <div class=" main-footer">
        <div class=" main_footer">
            <p class="rodape__texto text-white">© From Magnets</p>
        </div>

        <div class="rodape__icones">
            <a href="https://github.com/magnoh"><img src="{% static '/assets/img/github-icon.png' %}" alt=""></a>
            <a href="https://www.linkedin.com/in/magno-cardoso-748165187/"><img src="{% static '/assets/img/icon_facebook.png' %}" alt=""></a>
        </div>
    </div>
</footer>